*{
    box-sizing: border-box;
    margin: 0;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topper {
    width: 700px;
    display: flex;
}

.topper > .cell {
    background: none;
    border: none;
    border-radius: 50%;
}

#c4-grid {
    width: 700px;
    height: 600px;
    display: grid;
    background: white;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.cell {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    background: url('./assets/border.png');
}

.player {
    background-color: blue;
}

.opponent {
    background-color: red;
}